.vscode/**
.vscode-test/**
docs/**
dist/doc/**
src/**
.parcel-cache/*
images/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
wdio.conf.mts
test/**
.wdio-vscode-service
wdio.log
coverage/**
.eslintrc
.eslintignore
.mocharc.js
.nvmrc
.prettierignore
environments.json
wdio.conf.mts
.github/**
docs/**
logo/**
debug-profile.code-profile
.package.json
notes.md
npm-run.sh
.github/**
dist/desktop/**
